body {
  margin: 1rem 10%;
  font-family: "Open Sans", sans-serif, Helvetica, Arial;
  font-weight: 500;
}

a {
  color: #505560;
  text-decoration: none;
}

a:hover {
  color: #2070d0;
  text-decoration: underline;
}

.rc {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* Banner Component */
.header .banner {
  padding-top: 2rem;
}

.header .banner h1 {
  font-size: 3rem;
}

@media screen and (max-width: 500px) {
  .header .banner h1 {
    font-size: 2rem;
  }
}

/* Info Component */
.header .info .portrait {
  width: 20rem;
  vertical-align: top;
}

.header .info > div {
  display: inline-block;
  vertical-align: top;
  margin: 1rem;
}

.header .info .contact {
  width: 18rem;
}

.header .info .text {
  width: calc(100% - 20rem - 18rem - 4rem);
}

@media screen and (max-width : 1400px) {
  .header .info .portrait {
    display: none;
  }

  .header .info .text {
    width: calc(100% - 18rem - 4rem);
  }
}

@media screen and (max-width : 850px) {
  .header .info .text {
    display: block;   nav-down: auto;
    width: calc(100% - 2rem);
  }
}

/* Publications Component */
li.publication {
  margin-bottom: 1rem;
}

li.publication emph {
  font-weight: 700;
}

/* Footer */
.footer {
  margin: 0 10%;
  font-size: smaller;
  color: gray;
  text-align: center;
}

